<a href="https://colab.research.google.com/github/Arshitabhatt/Python_Basics/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello Everyone!
Welcome to today's Python session.
The target audience of today of anyone who wishes to learn!
This colab notebook will be covering :- 

*   Variables and Data-types
*   Operators
*   Conditionals and Loops
*   Strings
*   List
*   Dictionary
*   Tuple

In [2]:
# Welcoming students to python session
x = "Welcome Everyone"
print(x)

Welcome Everyone

In [5]:
#Data types : 
toffee = 10  #   Integers and Float
x = "Diwali is festival of lights"#   String
y = True    #   Boolean
z = False  
print(toffee)
print(x)
# Python is case sensitive language toffee != Toffee
# data-type of a variable can be checked using type()
print(type(toffee))
print(type(z))

10
Diwali is festival of lights
<class 'int'>
<class 'bool'>

In [13]:
# Arithmetic Operators
a = 15
b = 4
c = a + b
print(c)
c = a - b
print(c)
c = a * b
print(c)
c = a/b
print(c)
c = a % b
print(c)
c = a ** b
print(c)
c = a // b
print(c)
# highest ->  lowest = Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.
d = 5
c = - (a + d)/b
print(c)

# builtin function min, max etc,

19
11
60
3.75
3
50625
3
-5.0

In [29]:
#Conditionals
toffees = 10
chocolates = 15
if toffees > chocolates:
  print("We love toffees!")
else:
  print("We love chocolates!")

# nested if-else
cakes = 20
if toffees > chocolates:
  print("We love toffees!")
elif cakes > chocolates:
  print("We love cakes!")
else:
  print("We love chocolates!")
# Conditional Operators include
# >, <, >=, <=, ==, !=

a = 153.0 # type float
b = 153   #type int
print(a == b)
c = '153'
print( c == a)

We love chocolates!
We love cakes!
True
False

In [26]:
#Loop
# While loop
i = 0
while i < 5:
  print("for the " + str(i) + "th time, print " + "Ice-cream!!")
  i+=1.5

for the 0th time, print Ice-cream!!
for the 1.5th time, print Ice-cream!!
for the 3.0th time, print Ice-cream!!
for the 4.5th time, print Ice-cream!!

In [37]:
# for loop
print("Consistent amd determined program, constantly adding 1 to variable i")
for i in range (10):
  print(i+1, end = ' ')
# shorter way of writing this loop
print("\nShorter way using list comprehensions")
X = [n+1 for n in range(20)]
print(X)

Consistent amd determined program, constantly adding 1 to variable i
1 2 3 4 5 6 7 8 9 10
Shorter way using list comprehensions
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]