<a href="https://colab.research.google.com/github/Arshitabhatt/Python_Basics/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello Everyone!
Welcome to today's Python session.
The target audience of today of anyone who wishes to learn!
This colab notebook will be covering :- 

*   Variables and Data-types
*   Operators
*   Conditionals and Loops
*   Functions
*   List
*   Strings
*   Dictionary
*   Tuple

In [0]:
# Welcoming students to python session
x = "Welcome Everyone"
print(x)

Welcome Everyone

In [0]:
#Data types : 
toffee = 10  #   Integers and Float
x = "Diwali is festival of lights"#   String
y = True    #   Boolean
z = False  
print(toffee)
print(x)
# Python is case sensitive language toffee != Toffee
# data-type of a variable can be checked using type()
print(type(toffee))
print(type(z))

10
Diwali is festival of lights
<class 'int'>
<class 'bool'>

In [0]:
# Arithmetic Operators
a = 15
b = 4
c = a + b
print(c)
c = a - b
print(c)
c = a * b
print(c)
c = a/b
print(c)
c = a % b
print(c)
c = a ** b
print(c)
c = a // b
print(c)
# highest ->  lowest = Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.
d = 5
c = - (a + d)/b
print(c)

# builtin function min, max etc,

19
11
60
3.75
3
50625
3
-5.0

In [0]:
#Conditionals
toffees = 10
chocolates = 15
if toffees > chocolates:
  print("We love toffees!")
else:
  print("We love chocolates!")

# nested if-else
cakes = 20
if toffees > chocolates:
  print("We love toffees!")
elif cakes > chocolates:
  print("We love cakes!")
else:
  print("We love chocolates!")
# Conditional Operators include
# >, <, >=, <=, ==, !=

a = 153.0 # type float
b = 153   #type int
print(a == b)
c = '153'
print( c == a)

We love chocolates!
We love cakes!
True
False

In [0]:
#Loop
# While loop
i = 0
while i < 5:
  print("for the " + str(i) + "th time, print " + "Ice-cream!!")
  i+=1.5

for the 0th time, print Ice-cream!!
for the 1.5th time, print Ice-cream!!
for the 3.0th time, print Ice-cream!!
for the 4.5th time, print Ice-cream!!

In [0]:
# for loop
print("Consistent and determined program, constantly adding 1 to variable i")
for i in range (10):
  print(i+1, end = ' ')
# shorter way of writing this loop
print("\nShorter way using list comprehensions")
X = [n+1 for n in range(20)]
print(X)

Consistent and determined program, constantly adding 1 to variable i
1 2 3 4 5 6 7 8 9 10
Shorter way using list comprehensions
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [0]:
# Apart from  builtin functions we can define our own function to perform tailor-made operation
# it can be as simple as calculating sum of 2 number and as complicated as counting the number of galaxies in the universe!
# To define a function we use keyword - def
def sum_it(a, b):
  print("sum is " + str(a + b))
sum_it(2, 3)

sum is 5

In [31]:
# every function have got some input arguments and must return something
# if a function doesn't return anything then it a void function
def wishes(lang):
  if lang == "sp" :
    return "Buenos Dias"
  elif lang == "fr":
    return "Bonjour"
  else:
    return "Good Morning"
wish = wishes("sp")

print(wish)

def fibonacci(n):
  if(n == 0 or n==1):
    return 1
  return fibonacci(n-1) + fibonacci(n-2)

fibonacci(15)

Buenos Dias

987

In [0]:
# a varible stores only one value at a time, but if you want to store multiple values then use Lists
sqaure_terms = [1, 4, 36, 81, 49, 64, 9, 16, 25, 100]
vacations = ["London", "Venice", "Paris", "NYC"]
matrix = [
          [1,2,3],
          [4,5,6],
          [11,12,13] ]
# List are heterogenous arrays
harry_potter = [7, "Books", 3, "Friends"]
# each element in a list has got an index associated with it
# using this index we can access the elements in the list
print(vacations[0])
print(matrix[1][2])
# as there are +ve indicies, so are -ve ones
print(sqaure_terms[-1])
#there are certain methods by which we can access a range of elements from lists
print(vacations[1:3])
print(matrix[1][1:])
# we can also values using index
harry_potter[3] = "Best Friends"
print(harry_potter)

# some builtin function in lists
print(len(vacations))

sorted(sqaure_terms)
print(sqaure_terms)

vacations.append("Chennai")
print(vacations)

London
6
100
['Venice', 'Paris']
[5, 6]
[7, 'Books', 3, 'Best Friends']
4
[1, 4, 36, 81, 49, 64, 9, 16, 25, 100]
['London', 'Venice', 'Paris', 'NYC', 'Chennai']

In [38]:
# We have already strings, lets manipulate it now!
x = "A REALLY BIG STRING"
print(x[4:11])

x = x + " AND IT GETS BIGGER!"
print(x)

def echo(word):
  return word * 3

print(echo("Hellloo! "))

print(x.lower())

ALLY BI
A REALLY BIG STRING AND IT GETS BIGGER!
Hellloo! Hellloo! Hellloo!
a really big string and it gets bigger!

In [44]:
# Dictionary is another data structure like lists but it is used for mapping key to values,
# in other words, it like list but indicies are custom - made

Myth_Fic = {
    "book 1" : "The Rozabal Line",
    "book 2" : "Chanakya's Chant",
    "book 3" : "Krishna Key"
}

print(Myth_Fic["book 3"])

Myth_Fic["book 4"] = "Sialkot Saga"
print(Myth_Fic)

Krishna Key
{'book 1': 'The Rozabal Line', 'book 2': "Chanakya's Chant", 'book 3': 'Krishna Key', 'book 4': 'Sialkot Saga'}

In [57]:
for (i,value) in Myth_Fic.items():
  print(i  + " is " + value)

book 1 is The Rozabal Line
book 2 is Chanakya's Chant
book 3 is Krishna Key
book 4 is Sialkot Saga

In [59]:
# Tuples are just like list, but there is a catch, infact two catches
# 1. The syntax is different for tuples i.e, it use () for declartion
# 2. They are immutable i.e, they can't be modified
 
 t = ("I ", " am ", " the ", " boss " )
 print(t)
 t[0] = "You"
 print(t)

('I ', ' am ', ' the ', ' boss ')

TypeError: ignored